@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    padding: 2rem;
    color: #713f12;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
	font-weight: 600;
    padding: 2rem;
    color: #713f12;
}

p {
    display: flex;
    flex-direction: column;
    text-align: center;
}